* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 24pt;
}

a {
  text-decoration: none;
  color: rgb(62, 61, 61);
}

small {
  font-size: 10pt;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

header {
  height: 60pt;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  padding: 0 5pt;
  align-items: center;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 999;
}

header > div.bar {
  min-width: 280px;
  max-width: 80%;
  height: 30pt;
  border-radius: 15pt;
  background-color: gray;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

header > div.bar span {
  display: inline-block;
  font-size: 12pt;
  font-weight: bold;
  /* background-color: salmon; */
}

header > div.profile {
  height: 42pt;
  width: 42pt;
  border-radius: 21pt;
  background-color: gray;
  text-align: center;
  line-height: 42pt;
}

section.main-page {
  position: relative;
  min-width: 370px;
  max-width: 768px;
  min-height: calc(100vh - 60pt);
  /* background-color: salmon; */
  display: flex;
  padding: 20px 20px 60pt 20px;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  gap: 40pt;
}

div.games {
  display: flex;
  justify-content: space-around;
  /* background-color: white; */
}

div.games  div {
  width: 80pt;
  height: 80pt;
  border-radius: 40pt;
  background-color: lightgrey;
  font-size: 20pt;
  text-align: center;
  line-height: 80pt;
}

footer {
  position: fixed;
  height: 60pt;
  min-width: 370px;
  max-width: 768px;
  bottom: 0;
  background-color: whitesmoke;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-top: 2px solid rgba(154, 161, 156, 150);
}

span.footer-item {
  display: inline-block;
  /* height: 100%; */
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30pt;
}

form > div.form-input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form > div > label {
  font-size: 18pt;
  font-weight: bold;
}

form input[type=text] {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 18pt;
  width: 100%;
}

form input[type=submit] {
  display: block;
  margin: 0 auto;
  background-color: gray;
  padding: 10px;
  border-radius: 40pt;
  border: none;
  outline: none;
  color: whitesmoke;
  width: 120pt;
}

div.misc-container {
  position: relative;
  height: 40px;
  background-color: gray;
}

div.help-btn {
  position: absolute;
  bottom: 100pt;
  right: 15pt;
  width: 60pt;
  height: 60pt;
  border-radius: 30pt;
  background-color: gray;
  text-align: center;
  line-height: 60pt;
}

div.help-btn > span {
  font-size: 40pt;
}

h2.stopwatch{
  position: absolute;
  top: 20pt;
  left: 15pt;
  font-size: 16pt;
  background-color: gray;
  padding: 15px;
  border-radius: 30px;
}

h2.attempt-box {
  position: absolute;
  top: 20pt;
  right: 15pt;
  font-size: 16pt;
  background-color: rgb(228, 155, 155);
  padding: 15px;
  border-radius: 50px;
}

div.topic-item {
  min-height: 100px;
  border-radius: 10px;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

div.topic-item img {
  height: 50px;
}

div.topic-item a {
  grid-area: details;
  font-size: 10pt;
  text-align: left;
  word-spacing: 5px;
}

section.container, section.sub-container, section.sub-container-bottom {
  margin: 10px;
  padding: 10px;
  max-width: 300px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* background-color: gainsboro; */
}

section.sub-container, section.sub-container-bottom {
  border: 2px solid yellowgreen;
  border-radius: 10px;
}

section.sub-container > ul > li {
  list-style: none;
  /* background-color: salmon; */
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

section.sub-container > ul > li > a {
  font-size: 11pt;
}

section.sub-container > h2 {
  text-align: center;
  font-size: 11pt;
  padding-bottom: 5px;
  border-bottom: 2px solid yellowgreen;
}

section.sub-container p, section.sub-container ol li {
  text-align: left;
  font-size: 9pt;
}

section.sub-container ol li {
  margin-left: 10px;
}

section.sub-container a.btn-play {
  font-size: 14pt;
  background-color: yellowgreen;
  padding: 5px;
  border-radius: 20px;
}

section.sub-container-bottom {
  flex-direction: row;
  justify-content: space-evenly;
}

section.sub-container-bottom div.circle {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: gray;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px;
}


ul.list-profile {
  display: flex;
  /* height: 100%; */
  /* background-color: salmon; */
  min-height: calc(100vh - 400px);
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  gap: 20px;
  font-weight: bold;
}

div.top-message-box {
  position: absolute;
  left: 0;
  top: 30pt;
  padding: 10px;
  padding-right: 100px;
  background-color: salmon;
  width: 100%;
  color: black;
  display: flex;
  justify-content: center;
  gap: 30px;
}

div.top-message-box > div {
  font-size: 14pt;
  font-weight: bold;
}


